<section class="top">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 ">
        <div class="img__container--padding img__container">
          <img src="../../../assets/images/undraw_confirm_89ui.svg" alt="">
        </div>
      </div>
      <div class="col-md-6 text__container--padding">
        <div class="container__text">
          <h2>We are "Vicky website" </h2>
          <p>We are known for the good work and blah blah blah we do...</p>
        </div>
      </div>

    </div>
  </div>
</section>



<section class="bg">
  <section class="bg--color">
      <section class="value__container">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Our Value</h2> <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore eveniet quas suscipit, dignissimos sapiente necessitatibus aperiam error dolores sed quidem doloremque, ab vitae libero illum ipsum tempora odit quibusdam.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="purpose__container">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Our Purpose</h2> <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum asperiores hic ipsa nulla aut mollitia aliquid ex quae autem dignissimos eveniet quisquam, neque delectus est, commodi sed, laborum, repellendus necessitatibus.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="img__container--padding">
        <div class="container">
          <div class="row">

            <div class="col-md-6 order-md-last">
              <div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptate, facere quis doloremque eaque dicta blanditiis quo minus eius eos architecto aliquid impedit tenetur voluptates voluptatem eligendi iusto. Impedit, dicta!
                </p>
              </div>
            </div>
            <div class="col-md-6 col--position">
              <div class="img__container img--position">
                <img src="../../../assets/images/undraw_online_everywhere_cd90.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
  </section>
</section>
