<div class="container">
    <section class="row">
        <div class="col-md-8">
            <img src="../../../assets/images/undraw_work_together_h63l.svg" class="top__page--img" alt="">
        </div>
        <div class="col-md-4">
            <div>
                    <p class="page--text">
                        We strive to provision everyone with solutiions making the best use of information and communiactioin technologies.
                    </p>
                </div>
                <br>
            <div class="row">
                <div class="col">
                    <!-- <div>  -->
                        <p class="find_out">Find out more</p>
                    <!-- </div> -->
                </div>
                <div class="col">
                    <button class=" btn__about" role="button"> <a routerLink="/about">About us</a>  </button> 
                </div>
            </div>
            
            
        </div>
    </section>
</div>
<div>
    <section class="our-service">
        <h2>Our Service</h2>
            <!-- <div class="container"> -->
                <div class="services-container">
                    <div class="row">
                        <div class="services__img--conta "> 
                            <div class="icons"> 
                                <img src="../../../assets/icons/mobile.svg" class="our__services--img" alt=""> 
                            </div> 
                            <br>
                            <br>
                            
                            <div>
                                <h4>Mobile App Development (ios, android)</h4> 
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, iure commodi. 
                                    Voluptatum assumenda at autem non mollitia rerum est.</p>
                            </div>
                        </div>
                        <div class="services__img--conta "> 
                            <div class="icons"> 
                                <img src="../../../assets/icons/web.svg" class="our__services--img" alt=""> 
                            </div> 
                            <br>
                            <br>
                            <div>
                                <h4>Web Development</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, iure commodi. 
                                    Voluptatum assumenda at autem non mollitia rerum est.</p>
                            </div>
                        </div>
                        <div class="services__img--conta ">
                             <div class="icons">
                                  <img src="../../../assets/icons/graphics.svg" class="our__services--img" alt="">
                             </div> 
                             <br>
                            <br>
                            
                            <div>
                                <h4>Graphics Design & Branding</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, iure commodi. 
                                    Voluptatum assumenda at autem non mollitia rerum est.</p>
                            </div>
                             
                        </div>
                        <div class="services__img--conta ">
                             <div class="icons">
                                  <img src="../../../assets/icons/ux.svg" class="our__services--img" alt=""> 
                             </div> 
                             <br>
                             <br>
                             
                             <div>
                                <h4>UI/UX Design</h4>
                                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, iure commodi. 
                                     Voluptatum assumenda at autem non mollitia rerum est.</p>
                             </div>
                             
                        </div>
                        <div class="services__img--conta ">
                             <div class="icons">
                                  <img src="../../../assets/icons/devOps.svg" class="our__services--img" alt=""> 
                             </div> 
                             <br>
                             <br>
                             
                             <div>
                                <h4>DevOps</h4>
                                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, iure commodi. 
                                     Voluptatum assumenda at autem non mollitia rerum est.</p>
                            </div>
                             
                        </div>
                        <div class="services__img--conta ">
                             <div class="icons">
                                  <img src="../../../assets/icons/support.svg" class="our__services--img" alt="">
                             </div> 
                             <br>
                             <br>
                             
                             <div>
                                <h4>IT Support</h4>
                                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, iure commodi. 
                                     Voluptatum assumenda at autem non mollitia rerum est.</p>
                            </div>
                             
                        </div>
                        <div class="services__img--conta ">
                             <div class="icons">
                                  <img src="../../../assets/icons/manager.svg" class="our__services--img" alt=""> 
                             </div> 
                             <br>
                             <br>
                             
                             <div>
                                <h4>Product Management</h4>
                                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, iure commodi. 
                                     Voluptatum assumenda at autem non mollitia rerum est.</p>
                            </div>
                             
                        </div>
                        <div class="services__img--conta ">
                             <div class="icons">
                                  <img src="../../../assets/icons/dekptop.svg" class="our__services--img" alt="">
                             </div> 
                             <br>
                             <br>
                             
                             <div>
                                <h4>Desktop Application Development</h4>
                                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, iure commodi. 
                                     Voluptatum assumenda at autem non mollitia rerum est.</p>
                            </div>
                             
                        </div>
                        <!-- <div class="services__img--conta ">
                             <div class="icons">
                                  <img src="../../../assets/icons/system i.svg" class="our__services--img" alt=""> 
                             </div> 
                             <br>
                             <br>
                             
                             <div>
                                <h4>Intelligent Sysytem Development</h4>
                                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, iure commodi. 
                                     Voluptatum assumenda at autem non mollitia rerum est.</p>
                            </div>
                             
                        </div>
                        <div class="services__img--conta ">
                             <div class="icons">
                                  <img src="../../../assets/icons/class.svg" class="our__services--img" alt="">
                             </div> 
                             <br>
                             <br>
                             
                             <div>
                                <h4>Classes</h4>
                                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, iure commodi. 
                                     Voluptatum assumenda at autem non mollitia rerum est.</p>
                            </div>
                             
                        </div> -->
                        
                    </div>
                </div>
            <!-- </div> -->
            <div class="services__container">
                <button class=""> <a routerLink="/service">More</a>  </button>

            </div>

    </section>

    <section class="bg">
        <div class="bg__color">
            <div class="mission-block">
                <div class="row">
                    <div class="col-md-6 our-mission">
                        <h2>    Our Mission</h2>
                        <p class="page--text"> We seek to bring befitting ICT-centric solutions to meet individuals, groups and enterprise
                            needed to stay relevant and beyond.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="contact">
                <div class="row">
                    <div class="col-md-6 biz__tips">
                        <h3>Get business tips from us</h3>
                        <form>
                            <div class="form-group">
                                <label for="bizType">Your type of business</label>
                                <input type="text" id="bizType" class="form-control">
        
                            </div>
                            <div class="form-group">
                               <label for="email">Email</label>
                                <input type="email" id="email" class="form-control">
        
                            </div>
                            <button class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
